.goods {
  display: flex;
  position: absolute;
  top: 348px;
  bottom: 92px;
  width: 100%;
  overflow: hidden;
  .menu-wrapper {
    flex: 0 0 160px;
    width: 160px;
    background: #f3f5f7;
    .menu-item {
      display: table;
      height: 108px;
      width: 112px;
      //margin: 0;
      //padding: 0;
      padding: 0 24px;
      line-height: 28px;
      .icon {
        display: inline-block;
        vertical-align: top;
        width: 24px;
        height: 24px;
        margin-right: 4px;
        background-size: 24px 24px;
        background-repeat: no-repeat;
        &.decrease {
          @include bg-image('decrease_3')
        }
        &.discount {
          @include bg-image('discount_3')
        }
        &.guarantee {
          @include bg-image('guarantee_3')
        }
        &.invoice {
          @include bg-image('invoice_3')
        }
        &.special {
          @include bg-image('special_3')
        }
      }
      .text {
        display: table-cell;
        width: 112px;
        vertical-align: middle;
        @include border-1px(rgba(7, 17, 27, 0.1));
        font-size: 24px;
      }
    }
  }
  .foods-wrapper {
    flex: 1;
  }
}
