.goods {
  display: flex;
  position: absolute;
  top: 348px;
  bottom: 92px;
  width: 100%;
  overflow: hidden;
  .menu-wrapper {
    flex: 0 0 160px;
    width: 160px;
    background: #f3f5f7;
    .menu-item {
      display: table;
      height: 108px;
      width: 112px;
      padding: 0 24px;
      line-height: 28px;
      &.current {
        position: relative;
        z-index: 10;
        margin-top: -2px;
        background-color: #ffffff;
        font-weight: 700;
        .text {
          @include border-none();
        }
      }
      .icon {
        display: inline-block;
        vertical-align: top;
        width: 24px;
        height: 24px;
        margin-right: 4px;
        background-size: 24px 24px;
        background-repeat: no-repeat;
        &.decrease {
          @include bg-image('decrease_3')
        }
        &.discount {
          @include bg-image('discount_3')
        }
        &.guarantee {
          @include bg-image('guarantee_3')
        }
        &.invoice {
          @include bg-image('invoice_3')
        }
        &.special {
          @include bg-image('special_3')
        }
      }
      .text {
        display: table-cell;
        width: 112px;
        vertical-align: middle;
        @include border-1px(rgba(7, 17, 27, 0.1));
        font-size: 24px;
      }
    }
  }
  .foods-wrapper {
    flex: 1;
    .title {
      padding-left: 28px;
      height: 52px;
      line-height: 52px;
      border-left: 4px solid #d9dde1;
      font-size: 24px;
      color: rgb(147, 153, 159);
      background-color: #f3f5f7;
    }
    .food-item {
      display: flex;
      margin: 36px;
      padding-bottom: 36px;
      @include border-1px(rgba(7, 17, 27, 0.1));
      &:last-child {
        @include border-none();
        margin-bottom: 0;
      }
      .icon {
        flex: 0 0 57px;
        margin-right: 10px;
      }
      .content {
        flex: 1;
        .name {
          margin: 4px 0 16px 0;
          height: 28px;
          font-size: 28px;
          line-height: 28px;
          color: rgb(7, 17, 27);
        }
        .desc, .extra {
          font-size: 20px;
          color: rgb(147, 153, 159);
        }
        .desc {
          line-height: 24px;
          margin-bottom: 16px;
        }
        .extra {
          line-height: 20px;
          .count {
            margin-right: 24px;
          }
        }
        .price {
          font-weight: 700;
          line-height: 48px;
          .now {
            margin-right: 16px;
            font-size: 28px;
            color: rgb(240, 20, 20);
          }
          .old {
            text-decoration: line-through;
            font-size: 20px;
            color: rgb(147, 153, 159);
          }
        }
      }
    }
  }
}
